<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LKSandboxTokenServerId</key>
	<string>synchronized-matrix-pbycti</string>
	<key>RTCAppGroupIdentifier</key>
	<string>group.io.livekit.vision</string>
	<key>RTCScreenSharingExtension</key>
	<string>io.livekit.vision.broadcast</string>
</dict>
</plist>
