git+https://github.com/livekit/agents.git@bcherry/oai-detail#subdirectory=livekit-agents
git+https://github.com/livekit/agents.git@bcherry/oai-detail#subdirectory=livekit-plugins/livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-deepgram
livekit-plugins-cartesia
python-dotenv
livekit
asyncio
openai
httpx